@using BusinessLogic.Interfaces
@model carShop.Entities.Car
@inject ICartService CartService

<div><h2>Details for @Model.Model</h2>
<img src="@(@Model.ImagePath??"https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg")" class="card-img-top"  alt="Car image">
<p style="margin-top: 5px"><strong>Model:</strong> @Model.Model</p>
<p><strong>Color:</strong> @Model.Color</p>
<p><strong>Year:</strong> @Model.Year</p>
<p><strong>Body Type:</strong> @Model.BodyType</p>
	<p><strong>Price:</strong> @Model.Price</p>

	@if (CartService.IsInCart(Model.Id))
	{
		<a asp-controller="Cart" asp-action="Remove" asp-route-productId="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn  btn-secondary ">
			Remove from Cart
		</a>
	}
	else
	{
		<a asp-controller="Cart" asp-action="Add" asp-route-carId="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary">
			Add to Cart
		</a>
	}
	@* <a asp-controller="Cart" asp-action="Add" asp-route-carId="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary">
		 Add to Cart
	</a> *@
	@if (@ViewBag.ReturnUrl == null)
	{
		<a asp-action="Index" class="btn btn-primary">Back</a>
	}
	else
	{
		<a href="@ViewBag.ReturnUrl" class="btn btn-primary">Back</a>
	}
	
</div>


