@model carShop.Car


<div><h2>Details for @Model.Model</h2>

<p><strong>Model:</strong> @Model.Model</p>
<p><strong>Color:</strong> @Model.Color</p>
<p><strong>Year:</strong> @Model.Year</p>
<p><strong>Body Type:</strong> @Model.BodyType</p>

	<a asp-action="Index" class="btn btn-primary">Back</a>
</div>
