@model carShop.Car


<div><h2>Details for @Model.Model</h2>
<img src="@(@Model.ImagePath??"https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg")" class="card-img-top"  alt="Car image">
<p><strong>Model:</strong> @Model.Model</p>
<p><strong>Color:</strong> @Model.Color</p>
<p><strong>Year:</strong> @Model.Year</p>
<p><strong>Body Type:</strong> @Model.BodyType</p>

	<a asp-action="Index" class="btn btn-primary">Back</a>
</div>
