@model List<carShop.Entities.Car>

<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Year</th>
            <th>Body Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.Color</td>
                <td>@car.Year</td>
                <td>@car.BodyType</td>
                <td>
                    <a asp-controller="Car" asp-action="Details" asp-route-id="@car.Id" class="btn btn-dark">Show Details</a>
                    <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-dark">Edit</a>
                    <a asp-controller="Car" asp-action="ConfirmDelete" asp-route-id="@car.Id" class="btn btn-dark">Delete</a>
                        <a asp-controller="Cart" asp-action="Add" asp-route-carId="@car.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary">
                        Add to Cart
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Car" asp-action="Create" class="btn btn-primary mt-4">Create New Product</a>
